/* Odstrani paddinge in margine */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

/* Zemljevid čez celo stran */
#map {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* ozadje */
}

/* Naslov */
h1 {
    position: absolute;
    top: 20px;
    left: 30px;
    z-index: 10;
    color: white;
    font-size: 32px;
    text-shadow: 0 0 10px rgba(0,0,0,0.7);
    margin: 0;
}



/* Slider stil */
input[type="range"] {
    width: 250px;
    margin-top: 10px;
}

/* Letnica */
#year-value {
    font-weight: bold;
}





/* Leaflet zoom gumbi */
.leaflet-control-zoom {
    background: rgba(0,0,0,0.45) !important;
    backdrop-filter: blur(4px);
    border-radius: 8px;
    overflow: hidden;
}

.leaflet-control-zoom a {
    width: 34px;
    height: 34px;
    line-height: 34px;
    color: white;
    background: transparent;
    border: none;
    font-size: 18px;
    text-align: center;
    transition: background 0.2s;
}

.leaflet-control-zoom a:hover {
    background: rgba(180,180,180,0.2) !important;
    color: white;
}






/* Slider bar na dnu  */
#year-container {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 20;
}

/* slider */
#year {
    -webkit-appearance: none;
    appearance: none;
    width: 400px;               /* širina */
    height: 10px;               /* nizek */
    background: white;
    border: 1px solid black;
    border-radius: 3px;
    cursor: pointer;
}

/* Track */
#year::-webkit-slider-runnable-track {
    height: 10px;
    border-radius: 4px;
    background: white;
}

#year::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: black !important;       /* črn kvadratek */
    border-radius: 2px;        /* skoraj kvadrat, da ni čisto rezan */
    margin-top: -3px;          /* poravnava na sredino tracka */
}

#year-value {
    margin-top: 6px;
    font-size: 15px;
    font-weight: bold;
    color: black;
}




.legend {
    background: rgba(0,0,0,0.5);
    color: white;
    padding: 8px 10px;
    border-radius: 6px;
    font-size: 12px;
}

.legend-box {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 6px;
    vertical-align: middle;
}


